automation/romwebsite2026-password-reset-workflow.json
{
  "name": "ROM Password Reset",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "romwebsite2026/password-reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-448, 192],
      "webhookId": "rom-password-reset-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-temp-password",
              "leftValue": "={{ $json.body.temp_password }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-224, 192]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"ok\": false, \"error\": \"Missing email or temp_password\", \"code\": 422} }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-224, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "Your Temporary Password – Ryan Owen Photography",
        "emailType": "text",
        "message": "={{ \"Hi there,\\n\\nA password reset was requested for your Ryan Owen Photography account (\" + $json.body.email + \").\\n\\nYour temporary password is:\\n\\n    \" + $json.body.temp_password + \"\\n\\nPlease log in at https://githubrequestform-work.onrender.com/booking_form.html and update your password right away. You will be prompted to create a new one after logging in.\\n\\nIf you did not request this reset, please contact us immediately at ryan@ryanowenphotography.com.\\n\\nThank you,\\n\\nRyan Owen\\n240-401-8385\\nwww.ryanowenphotography.com\\n\\n*** In order to give every project my full attention, I cannot respond to emails or texts while I am shooting. Thank you for your patience. ***\" }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [0, 192],
      "credentials": {
        "gmailOAuth2": {
          "id": "Aw4STdDise05gjzE",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"ok\": true, \"message\": \"Reset email sent\"} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [224, 192]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reset Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "rom-password-reset-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a0408ada9decc18d7dc68e3e27778ce1df6c23b77d8a89a9e3ce6de120040e0"
  },
  "id": "rom-password-reset-workflow",
  "tags": []
}
